.productList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  padding: 0;
  gap: 24px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-decoration: none;
  aspect-ratio: 1/1;
}

.productName {
  font-size: 20px;
  font-weight: 800;
}

@media (max-width: 768px) {
  .productList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .productList {
    grid-template-columns: repeat(1, 1fr);
  }
}